<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://bytebucket.org/phucnpm/postapp/raw/84c712f72e6188fb53b23b1b0c90cf7e32f9d611/PostApp_20150127_2_841087f_tokyo.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/phucnpm/ios_ota_distribution/master/image_512.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/phucnpm/ios_ota_distribution/master/image_57.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>vn.aoi-sys.installing</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Installing</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
